# dependencies
node_modules/

# next.js build output
.next/
out/
next-env.d.ts
*.tsbuildinfo

# local database (created by `npm run db:migrate && npm run db:seed`)
/data/

# environment
.env
.env*.local

# misc
.DS_Store
.vercel
.env*
